@inject JMS.Service.ServiceContracts.ICacheService cacheService
@inject JMS.Service.ServiceContracts.IUserService userService
@inject JMS.Service.ServiceContracts.IFileService fileService
@inject JMS.Service.ServiceContracts.ITenantService tenantService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject Microsoft.Extensions.Options.IOptions<UserMenu> menus
@using System.Security.Claims
@{
    var tenant = Context.Request.RouteValues["tenant"] as string;
    var title = cacheService.GetJournalTitle(tenant);
    var logo = fileService.GetFile(cacheService.GetJournalLogo(tenant));

    JMS.Entity.Entities.ApplicationUser user = null;
    var now = DateTime.UtcNow;
    var layoutMenu = menus.Value.LoggedOutMenus;
    if (User.Identity.IsAuthenticated)
    {
        user = ((JMS.Infra.Sequrity.JMSPrincipal)User).ApplicationUser;
        layoutMenu = menus.Value.LoggedUserMenus;
    }
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@(ViewBag.Title != null ? $"{title} | {ViewBag.Title}" : $"{title}")</title>
    
    <environment include="Development">
        <!-- Font Awesome Icons -->
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/css/adminlte.min.css">
        <link href="~/plugins/toastr/toastr.css" rel="stylesheet" />
        <link href="~/plugins/summernote/summernote.css" rel="stylesheet" />
        <!-- Google Font: Source Sans Pro -->
        <link href="~/plugins/select2/css/select2.css" rel="stylesheet" />
        <link href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />

        <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/plugins/datepicker/datepicker.min.css" rel="stylesheet" />
        <link href="~/plugins/jsgrid/jsgrid.min.css" rel="stylesheet" />
        <link href="~/plugins/jsgrid/jsgrid-theme.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/journal.min.css" rel="stylesheet" asp-append-version="true"/>
    </environment>
    @**@
</head>
<body class="hold-transition layout-top-nav">
    <div class="loader" style="display: none;">
        <span class="spin"></span>
    </div>
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img src="@Url.Content(logo)" alt="@title" class="brand-image img-circle elevation-3"
                         style="opacity: .8">

                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (!user.IsDisabled.GetValueOrDefault())
                {
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        @foreach (var item in layoutMenu.Where(x => x.Roles.Any(y => User.IsInRole(y)) || (!User.Identity.IsAuthenticated && !x.Roles.Any())))
                            {
                                var submenus = item.SubMenus.Where(x => x.Roles.Any(y => User.IsInRole(y)));
                        @if (submenus.Any())
                                {
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">@item.Text</a>
                            <ul class="dropdown-menu">
                                @foreach (var item2 in submenus)
                                            {
                                <li>
                                    @if (string.IsNullOrEmpty(item2.URL))
                                                    {
                                    <a asp-action="@item2.Action" asp-controller="@item2.Controller" class="dropdown-item">@item2.Text</a>
                                                    }
                                                    else
                                                    {
                                    <a href="@item2.URL" class="dropdown-item">@item2.Text</a>
                                                    }
                                </li>
                                            }
                            </ul>
                        </li>
                                }
                                else
                                {
                        <li class="nav-item">
                            @if (string.IsNullOrEmpty(item.URL))
                                        {
                            <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">@item.Text</a>
                                        }
                                        else
                                        {
                            <a href="@item.URL" class="nav-link">@item.Text</a>
                                        }
                        </li>
                                }
                            }
                    </ul>


                </div>
                }


                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            John Pierce
                                            <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">I got your message bro</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="~/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Nora Silvester
                                            <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">The subject goes here</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>
 <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                            <!-- The user image in the navbar-->
                            <img src="@userService.GetUserProfileImage(user)" class="nav-user-image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">@($"{user.FirstName} {user.LastName}")</span>
                        </a>
                        <ul aria-labelledby="dropdownSubMenu1" id="lg-cont" class="dropdown-menu border-0 shadow">
                            <!-- The user image in the menu -->
                            <li><a class="nav-link" id="logout">LOG OUT</a></li>

                        </ul>
                    </li>
                    }
                    else
                    {
                    <li class="nav-item">
                        <!-- Menu Toggle Button -->
                        <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>

                    </li>
                    }
                </ul>

                <!-- Right navbar links -->

            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    @RenderSection("contentheader", required: false)
                </div>
            </div>
            <div class="content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>


        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer" style="padding:0px;border:0px;">
            @Html.Raw(tenantService.FooterContent(tenant))
            @*<!-- To the right -->
                <div class="float-right d-none d-sm-inline">

                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; @now.Year-@(now.Year + 1) <a href="https://adminlte.io"></a></strong>*@
        </footer>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*<div class="modal-header">

                    </div>*@
                <div class="modal-body">

                </div>
                @*<div class="modal-footer">

                    </div>*@
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="lgModal" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <environment include="Development">
        <!-- jQuery -->
        <script src="~/plugins/jquery/jquery.min.js"></script>
        <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
        <script src="~/plugins/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/js/adminlte.min.js"></script>
        <script src="~/plugins/jquery-mask/jquery.mask.min.js"></script>
        <script src="~/plugins/toastr/toastr.min.js"></script>
        <script src="~/plugins/summernote/summernote.js"></script>
        <script src="~/plugins/select2/js/select2.min.js"></script>
        <script src="~/plugins/datepicker/datepicker.js"></script>>
        <script src="~/plugins/jsgrid/jsgrid.js"></script>
        <script src="~/plugins/jsgrid/multiselectjsgrid.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/journal.min.js" asp-append-version="true"></script>
    </environment>

    
    <script>
    $('#logout').on('click', function (event) {
    $("lg-cont").addClass('show');
    $(".loader").show();
    event.stopPropagation();
    $.ajax({
        type: "POST",
        data: {
            __RequestVerificationToken: "@(Xsrf.GetAndStoreTokens(Context).RequestToken)"
        },
        url: "@Url.Action("Logout","Account")",
        success: function (data) {
            window.location.href = "@Url.Action("Login","Account")";
            }
        });
    });
    @if (TempData.ContainsKey(JMS.Setting.Messages.fail))
    {
        var messages = (IEnumerable<string>)TempData[JMS.Setting.Messages.fail];
        foreach (var message in messages)
        {
            <text>
              toastr.error('@message')
            </text>

        }
    }
    @if (TempData.ContainsKey(JMS.Setting.Messages.success))
    {
        var messages = (IEnumerable<string>)TempData[JMS.Setting.Messages.success];
        foreach (var message in messages)
        {
            <text>
        toastr.success('@message')
            </text>

        }
    }
    </script>
    @RenderSection("scripts", required: false)
    @Html.PageScripts()
</body>
</html>
