@inject JMS.Service.ServiceContracts.ICacheService cacheService
@inject JMS.Service.ServiceContracts.IFileService fileService
@inject JMS.Service.ServiceContracts.IUserService userService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@inject Microsoft.Extensions.Options.IOptions<UserMenu> menus
@using System.Security.Claims
@{
    var title = cacheService.GetValue(JMS.Service.Settings.JMSSetting.SystemTitle);
    var logo = fileService.GetFile(cacheService.GetValue(JMS.Service.Settings.JMSSetting.SystemLogo) as string);
    JMS.Entity.Entities.ApplicationUser user = null;
    var now = DateTime.UtcNow;
    if (User.Identity.IsAuthenticated)
    {
        user = userService.GetUser(long.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)));
    }
}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@(ViewBag.Title != null ? $"{title} | {ViewBag.Title}" : $"{title}")</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="~/plugins/toastr/toastr.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition layout-top-nav">
    <div class="loader" style="display: none;">
        <span class="spin"></span>
    </div>
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a asp-action="index" asp-controller="home" class="navbar-brand">
                    <img src="@Url.Content(logo)" class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    @*<span class="brand-text font-weight-light">AdminLTE 3</span>*@
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                        @foreach (var item in menus.Value.LoggedUserMenus.Where(x => x.Roles.Any(y => User.IsInRole(y))))
                        {
                            var submenus = item.SubMenus.Where(x => x.Roles.Any(y => User.IsInRole(y)));
                            @if (submenus.Any())
                            {
                                <li class="nav-item dropdown">
                                    <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">@item.Text</a>
                                    <ul class="dropdown-menu">
                                        @foreach (var item2 in submenus)
                                        {
                                            <li>
                                                @if (string.IsNullOrEmpty(item2.URL))
                                                {
                                                    <a asp-action="@item2.Action" asp-controller="@item2.Controller" class="dropdown-item">@item2.Text</a>
                                                }
                                                else
                                                {
                                                    <a href="@item2.URL" class="dropdown-item">@item2.Text</a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    @if (string.IsNullOrEmpty(item.URL))
                                    {
                                        <a asp-action="@item.Action" asp-controller="@item.Controller" class="nav-link">@item.Text</a>
                                    }
                                    else
                                    {
                                        <a href="@item.URL" class="nav-link">@item.Text</a>
                                    }
                                </li>
                            }
                        }
                    </ul>


                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">

                        <li class="nav-item dropdown">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="nav-link" data-toggle="dropdown" aria-expanded="true">
                                <!-- The user image in the navbar-->
                                <img src="@userService.GetUserProfileImage(user)" class="nav-user-image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">@($"{user.FirstName} {user.LastName}")</span>
                            </a>
                            <ul aria-labelledby="dropdownSubMenu1" id="lg-cont" class="dropdown-menu border-0 shadow">
                                <!-- The user image in the menu -->
                                <li><a class="nav-link" id="logout">LOG OUT</a></li>

                            </ul>
                        </li>
                    </ul>
                }
                <!-- Right navbar links -->

            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    @RenderSection("contentheader", required: false)
                </div>
            </div>
            <div class="content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>


        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">

            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; @now.Year-@(now.Year + 1) <a href="https://adminlte.io"></a></strong>
        </footer>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @*<div class="modal-header">

                    </div>*@
                <div class="modal-body">

                </div>
                @*<div class="modal-footer">

                    </div>*@
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/plugins/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $('#logout').on('click', function (event) {
            $("lg-cont").addClass('show');
            $(".loader").show();
            event.stopPropagation();
            $.ajax({
                type: "POST",
                data: {
                    __RequestVerificationToken: "@(Xsrf.GetAndStoreTokens(Context).RequestToken)"
                },
                url: "@Url.Action("Logout","Account")",
                success: function (data) {
                    window.location.href = "@Url.Action("Login","Account")";
                }
            });
        });
        $('body').on('click', function (e) {
            if (!$('li.dropdown.mega-dropdown').is(e.target)
                && $('li.dropdown.mega-dropdown').has(e.target).length === 0
                && $('.open').has(e.target).length === 0
            ) {
                $('li.dropdown.mega-dropdown').removeClass('open');
            }
        });
         $('.phonenumber').mask('(000) 000-0000')
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
