@model JMS.Models.EmailModels.AddUserEmailNotificationModel
@{ 
    Layout = null;
}
Hi @Model.FirstName @Model.LastName,

    <p>
        Your account has been created in <a href='@($"{Context.Request.Scheme}://{Context.Request.Host.Value}/{Model.JournalPath}")'>@Model.JournalName</a>. You have been assigned following roles.
    </p>
   
<ul>
    @for (int i = 0; i < Model.RoleNames.Count; i++)
    {
        <li>@Model.RoleNames[i]</li>
    }
</ul>
