@model int
@{
    ViewBag.Title = "Edit Submission";
}
<link href="~/plugins/jquery-steps/jquery.steps.css" rel="stylesheet" />
@section scripts{
    <script src="~/plugins/jquery-steps/jquery.steps.js"></script>
    <script>
        var stepcont= $("#stepcont");
        stepcont.steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: "vertical",
            enablePagination: false,
            enableKeyNavigation:false,
            enableContentCache:true,
            startIndex:@Model
        });
        stepcont.show();
    </script>
}
<div class="row">
    <div class="col-md-12 text-md-right">
        @Html.ActionLink("Back to submission", "Index", "MySubmission")
        <br />
    </div>
</div>
<br />
<div id="stepcont" style="display:none">
    <h3>Submission Details</h3>
    <section data-mode="async" class="sub-files" data-url='@Url.Action("EditMetadata","Submission",new {id=ViewContext.RouteData.Values["id"]})' style="width: 100%;">
    </section>
    <h3>Submission Files</h3>
    <section data-mode="async" class="sub-files" data-url='@Url.Action("Submissionfiles","Submission",new {id=ViewContext.RouteData.Values["id"]})' style="width: 100%;">
    </section>
    <h3>Contributors</h3>
    <section data-mode="async" class="sub-contr" data-url='@Url.Action("ContributersView","Submission",new {id=ViewContext.RouteData.Values["id"]})' style="width: 100%;">
    </section>
    <h3>Finish</h3>
    <section data-mode="async" class="sub-contr" data-url='@Url.Action("EditorComment","Submission",new {id=ViewContext.RouteData.Values["id"]})' style="width: 100%;">
    </section>
</div>