@model int
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf;
@using JMS.Entity.Data; 
@{ 
    ViewBag.title = "Submission";
}
<link href="~/plugins/jquery-steps/jquery.steps.css" rel="stylesheet" />
@section scripts{
    <script src="~/plugins/jquery-steps/jquery.steps.js"></script>
    <script>
        var stepcont= $("#stepcont");
        stepcont.steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: "vertical",
            enablePagination: false,
            enableKeyNavigation:false,
            enableContentCache: true,
            startIndex:@(Model== (int)SubmissionStatus.Submission?0:1)
        });
        stepcont.show();
        $("#dltsub").click(function (event) {
            $("#lgModal .modal-body").html(`
                <form id="rjctfrm">
                    <input type="hidden" name="__RequestVerificationToken" value="@Xsrf.GetAndStoreTokens(Context).RequestToken"/>
                    <input type="hidden" name="Id" value="@ViewContext.RouteData.Values["id"]"/>
                    <div class="form-group">
                        <label class="control-label" for="RejectComment">Comment</label>
                        <textarea class="form-control" id="RejectComment" name="RejectComment"></textarea>
                    </div>
                </form>
                <div  class="text-center">
                     <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancel</button>
                     <button type="button" class="btn btn-primary btn-lg" onclick="dltsbm()">Reject</button>
                </div>
                `);
            $("#RejectComment").summernote();
            $("#lgModal").modal({
                backdrop: 'static',
                keyboard: false
            })
        });
        function dltsbm() {
            $(".loader").show();
            $.ajax({
                type: "POST",
                data: $("#rjctfrm").serialize(),
                url: "@Url.Action("RejectSubmission", "Submission")",
                success: function () {
                    window.location.href= "@Url.Action("RejectedSubmission", "Submission")"
                }
            });
        }
        $("#lgbtn").click(function () {
            $(".loader").show();
            $.ajax({
                url: "@Url.Action("GetActivityLogs", "Submission",new { submissionId= @ViewContext.RouteData.Values["id"] })",
                type: "Get",
                success: function (html) {
                    $("#lgModal .modal-body").html(html);
                    $("#lgModal").modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    $(".loader").hide();
                }
            })

        });

    </script>
}
<div class="row">
    <div class="col-md-12 text-md-right">
        @if (User.IsInRole(JMS.Setting.RoleName.EIC))
        {
            @Html.ActionLink("Back to submission", "ActiveSubmission", "MySubmission")
        }
        else
        {
            @Html.ActionLink("Back to submission", "MyAssigned", "Submission")
        }

        <br />
    </div>
</div>
<div>
    <div class="float-right ml-1">
        <button type="button" class="btn btn-danger" id="dltsub">Reject Submission</button>
    </div>
    <div class="float-right ml-1">
        <button type="button" class="btn btn-default" id="lgbtn">Activity Log</button>
    </div>
</div>
<div class="clearfix"></div>
<br />

<div id="stepcont" style="display:none;">
    <h3>Details</h3>
    <section data-mode="async" class="sub-files" data-url='@Url.Action("SubmissionDetails","Submission",new {id=ViewContext.RouteData.Values["id"]})' style="width: 100%;">
    </section>
    <h3>Review Requests</h3>
    <section data-mode="async" class="sub-files" data-url='@Url.Action("ReviewRequests","Review",new {submissionId=ViewContext.RouteData.Values["id"]})' style="width: 100%;">
    </section>
</div>
